.table {
    max-width: 1fr;
    width: 100%;
    display: table;
}

@media (max-width: 720px) {
    .Chart {
        display: block;
        max-width:45%;
        max-height: 320px;  
    }
    .table,.thead,.tbody,.tr, .td {width:100%; display: table; font-size: 10px;}
}