.Chart {
    display: inline-table;
    max-width: 20%;
    max-height: 120px;
    cursor: pointer;
    margin-left: 30px;
    
}

.info {
    color: rgba(75,74,124,255)
}

@media (max-width: 720px) {
    .Chart {
        display: block;
        max-width:55%;
        max-height: 320px;
        justify-content: center;
    }
}