/* stylelint-disable order/properties-order */
/* stylelint-disable indentation */

.p {
    margin: 0;
}

.s {
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.m {
    font-size: 16px;
    line-height: 24px;
}

.l {
    font-size: 18px;
    line-height: 29px;
}

.p:hover {
    color: var(--primary);
    cursor: pointer;
}